/* Normalize.css */
/* Aquí van los estilos de Normalize.css */

/* Estilos personalizados */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1vh;
}

header {
  background-color: navy;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header h1 {
  font-size: 24px;
  font-weight: lighter;
  margin: 0;
}

nav {
  display: flex;
  align-items: center;
}

.menu-icon {
  color: #fff;
  font-size: 24px;
  margin-right: 10px;
  cursor: pointer;
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 30px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.container main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container main section {
  flex-basis: 60%;
}

.container main aside {
  flex-basis: 35%;
}

.container main .featured-article {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.container main .featured-article article {
  flex-basis: 48%;
  background-color: #f9f9f9;
  padding: 10px;
  margin: 1vh;
}

.container main .featured-article article img {
  width: 100%;
}

/* .container main aside .secondary-article:first-child  {
  margin-top: 0;
}

.container main aside .secondary-article:last-child  {
 margin-bottom: 0;
} */

.container main aside .secondary-article {
  background-color: #f9f9f9;
  padding: 10px;
  margin: 1vh;
}

.container aside {
  display: flex;
  flex-direction: column;
}

.container aside .advertisement img {
  width: 10%;
  margin-bottom: 10px;
  
}

/* Agregar fecha en cada noticia */
.container main .featured-article article .date {
  font-size: 12px;
  color: #888;
  margin-bottom: 5px;
}

/* Agregar fecha en el encabezado */
header .date {
  font-size: 10px;
  font-weight: bold;
}

/* Consulta de medios para dispositivos móviles */
@media (max-width: 767px) {
  header {
    padding: 10px;
  }
  
  header h1 {
    font-size: 20px;
  }
  
  .menu {
    display: none;
  }
  
  .menu-icon {
    display: block;
  }
  
  .container main {
    flex-direction: column;
  }
  
  .container main section,
  .container main aside {
    flex-basis: 100%;
  }

  .container aside .advertisement img {
    width: 35%;
    margin-bottom: 10px;
  }
  
}

/* Consulta de medios para escritorio */
@media (min-width: 768px) {

  .menu {
    display: flex;
  }

  .menu-icon {
    display: none;
  }

  .container main {
    flex-wrap: wrap;
  }
  
  .container main article {
    flex-basis: 48%;
  }
  
  .container main aside {
    flex-basis: 35%;
  }
  
  .container aside {
    display: flex;
    flex-direction: column;
  }
}
